:root {
    --primary-color: #f00000;
    --secondary-color: #ffffff;
    --teritary-color: #152238;

}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../Images/gradient-liquid-abstract-background_23-2148916929.jpg);
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--teritiary-color);
}

header a{
    color: var(--primary-color);
}
header a{
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    font-style: bold;
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--teritary-color);
    border-radius: 15px;
    text-shadow: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

.section {
    padding: 60px;
}

section h3 {
    display: flex;
    flex: none;
    justify-content: center;
    color: var(--primary-color);
    border-bottom: 5px solid var(--teritary-color);
}

/* fix hero background image */
.hero {
    background-image: url(../Images/gradient-liquid-abstract-background_23-2148916929.jpg);
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: flex-start;
    background-attachment: fixed;
    height: 200px;  
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 25px;
    font-style: bold;
}

/*About Me styles */


/*work styles */


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    
}

.work img {
    border: 1px solid var(--teritary-color);
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;  
  }
  
  .card:hover img{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 1;
  }
  .card:hover .card-block {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 1;
  }
  
  .project-container {
    width: 50%; 
    padding: 10px; 
  }
  .project-container .card {
      width: 300px;
      padding: 8px;
      width: 100%;
      position: relative;
      height: 300px;
  }
  
  .project-container-xl {
      width: 100%;
  }
  .project-container-xl .card {
      height: auto;
      width: auto;
  }
  
  .card-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
    bottom: 12px;
    right: 8px;
    border-radius: 4px;
    opacity: 0;
  }


/*contact info section */


.contact-info nav {
    margin: 7px 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.contact-info nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.contact-info nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-style: bold;
}


